.navbar{
    background-color: black;
}
.nav-buttons{
    text-decoration: none;
    background-color: black;
    border-color: red;
    color: rgb(255, 81, 81) !important ; 
    font-family: 'Turret Road', cursive;
}
.nav-buttons:hover{
    color:white !important;
    font-weight: bold;
}
