body{
	background-color: black;
}

.img-menu{
	background-image: url(../../img/menu.jpg) !important;
	background-size: 100%;
	background-repeat: no-repeat;
}
.carrousel-title{
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-family: 'Wallpoet', cursive;
}

h1,a,p{
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-family: 'Turret Road', cursive;
}

.profile{
	color: rgb(255, 81, 81);
	font-family: 'Wallpoet', cursive;
}

.text-menu{
	color:white;
	font-weight: bold;
	background:black;
	border-radius: 15px;
}
.logo-nav{
	height: 80%;
	width: 80%;
}
