body{
	background-color: black;
}

.img-menu{
	background-image: url(../../img/menu.jpg) !important;
	background-size: 100%;
	background-repeat: no-repeat;
}
h1, p, a, span{
	font-weight: bold;
	font-family: 'Turret Road', cursive;
}

.text-menu{
	color:white;
	font-weight: bold;
	background:black;
	border-radius: 15px;
}
.logo-nav{
	height: 80%;
	width: 80%;
}
