body {
	background: linear-gradient( 90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.servicos {
	background-color: transparent;
	box-shadow: 0 0 1em rgb(34, 34, 34);
	border-radius: 50px;
}

.carrousel-title {
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-family: 'Wallpoet', cursive;
}

.servicos-title {
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-family: 'Wallpoet', cursive;
}

h1, h2, a, p {
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-family: 'Turret Road', cursive;
}

.profile {
	color: rgb(255, 81, 81);
	font-family: 'Wallpoet', cursive;
}

.icons {
	color: rgb(255, 81, 81);
}

.img-border {
	border-radius: 50px !important;
	box-shadow: 0 0 1em rgb(34, 34, 34);
}

.jumbotron {
	background: transparent;
}

.hr-style {
	border: 8px solid rgb(0, 0, 0);
	border-radius: 5px;
}

hr {
	display: block;
	border-top: 1px solid rgba(204, 204, 204, 0);
	margin: 1em 0;
	padding: 0;
}

.img{
	box-shadow: 0 0 1em rgb(34, 34, 34);
	width: 150px;
	height: 150px;
}

.contact-buttons {
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    border-color: red;
    color: rgb(255, 255, 255) !important;
    font-family: 'Turret Road', cursive;
}

.contact-buttons:hover {
	border-color:rgb(235, 235, 235);
    color: rgb(255, 81, 81) !important;
    font-weight: bold;
}

#particles-js{ 
	position: absolute; 
	width: 100%; 
	height: 100%; 
	background-color: transparent; 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 100% 100%; 
  }